*{
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
body#home{
    background:url(../img/bmw_m4_gts.jpg) center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

body#history
{
    /*background: url(../img/bmw_m3.jpg) center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;*/
    height: 100vh;
}

body#cars
{
    overflow-x: hidden;
}
body#plyta
{
    background: url("../img/plyta.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar-brand img
{
    height: 50px;
    margin-left:30%;
}
.navbar
{
    background-color:rgba(0, 0, 0, 0.5);
    height: 4rem;
    margin-top: auto;
    z-index:1000!important
}
.navbar-nav.mr-auto li 
{
    padding:0 5px;
}

.navbar-nav.mr-auto li a
{
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-style: bold;
    display: inline-block;
    border-bottom: 1px solid;
    border-color: transparent;
}

.navbar-nav.mr-auto li.active a 
{
    border-image: linear-gradient(90deg, #00ccff 33.33%, #001eff 33.33% 66.66%,  #ff0000 66.66% 100%);
    border-image-slice: 1;
}

.nav.navbar-nav li a
{
    color: white;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-style: bold;
    display: inline-block;
}

.nav.navbar-nav
{
    margin-right: 5%;
}

.navbar-nav.mr-auto li a:hover{
    border-image: linear-gradient(90deg, #00ccff 33.33%, #001eff 33.33% 66.66%,  #ff0000 66.66% 100%);
    border-image-slice: 1;
}

.navbar-nav.mr-auto{
    margin-left:5%;
}
@media all and (max-width:1199px)
{
    .navbar{
        width: fit-content!important;
        height: fit-content;
        background-color: rgba(0, 0, 0, 0.5);
    }
    #intro
    {
        margin-top: -9%!important;
        width: 100%;
        position: absolute!important;
        display: inline-table;
        height: 30px!important;
    }
    #title
    {
       margin-top: -80px!important;
    }
    .parallax-window
    {
        margin-top: -7.5rem;
    }
}
@media all and (max-width:640px)
{
    .form-control
    {
        margin-left: 10%!important;
    }
    #signupform
    {
        background-size: 250%!important;
    }
    #loginform
    {
        background-size:350%!important;
    }
}

@media all and (max-width:991px)
{
    #cont2
    {
        height: 250px;
    }
    .ParallaxVideo video
    {
        height: 280px;
    }
}

@media all and (max-width:768px)
{
    .story-year
    {
        font-size: 60px!important;
    }
    .story-title
    {
        font-size: 30px!important;
    }
    #cont1 h3
    {
        font-size: 22px!important;
    }
    .story-description{
        font-size: 14px!important;
    }
    .ParallaxVideo video
    {
        height: 270px!important;
    }
}

@media all and (max-width:576px)
{
    #cont1 h3
    {
        font-size: 18px!important;
    }
    #cont3 h4
    {
        font-size: 12px!important;
    }
}

@media all and (max-width:414px)
{
    .story-year
    {
        font-size: 30px!important;
    }
    .story-title
    {
        font-size: 24px!important;
    }
    .story-description
    {
        font-size: 13px!important;
    }
    #cont6.ParallaxContent
    {
        height: 300px;
    }
    #cont7.ParallaxContent
    {
        height: 300px;
    }
    #cont8.ParallaxContent
    {
        height: 300px;
    }
    .bg1 h1
    {
        font-size:35px!important;
    }
}

#loginbutton, #signupbutton
{
    margin:10px;
    border-radius: 8px;
    background-color:transparent;
    width:90px;
    height: 45px;
    width: fit-content;;
    border-color: transparent;
    font-family: "Raleway", sans-serif;
    color:white;
    -webkit-transition: all 0.4s ease-out;
   -moz-transition: all 0.4s ease-out;
   -o-transition: all 0.4s ease-out;
   -ms-transition: all 0.4s ease-out;
   transition: all 0.4s ease-out;
}

#loginbutton:hover, #signupbutton:hover
{
   cursor: pointer;
   background-color: rgba(0, 0, 0, 0.5);
   transition: background-color 0.4s ease;
}

.modal-body
{
    text-align: center!important;
}
.modal-backdrop
{
    z-index:0!important;
}

.modal-content
{
    color:white!important;
}

.form-control
{
    background-color: rgb(24, 24, 24, 0.4)!important;
    border-color: transparent!important;
}

.form-group
{
    display: block;
    text-align: center;
}

.form-group label
{
    display: block;
}

.form-group i
{
    text-align: center;
    display: block;
    position: relative;
}

input
{
    color:white!important;
    width: 250px!important;
    margin-left:24%!important;
    text-align: center!important;
}

::placeholder {
    color: white!important;
    opacity: 1!important;
    text-align: center!important;
  }

button.close
{
    color: white!important;
    opacity: 1!important;
    margin-right: 3%!important;
}

#loginform, #signupform
{
    margin-left: -30!important;
    width: 100%;
    height: 40%;
    border-radius: 20px!important;
    margin-top: 15%;
}

#loginmodalbutton
{
    margin-top: 26.5%;
    margin-left: 1%;
    width: fit-content;
    height: 35px;
    background-color: transparent;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    display: inline-block!important;
    text-align: center!important; 
    border-radius: 5px;
}

#loginmodalbutton:hover
{
    background-color: 	rgb(88, 2, 8);
}

button:focus{outline:0!important;}
.btn:focus, .btn:active:focus, .btn.active:focus {
    box-shadow: none !important;
}

#loginbody
{
    transition: 1s all;
    -webkit-backdrop-filter: blur(5px) grayscale(100%);
    backdrop-filter: blur(5px) grayscale(100%);
}


#signupbody, #signuphead
{
    transition: 2s all;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

#signupmodalbutton
{
    margin-top: 10%;
    margin-left: 2%;
    width: fit-content;
    height: 35px;
    background-color: transparent;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    display: inline-block!important;
    text-align: center!important; 
    border-radius: 5px;
}

#signupmodalbutton:hover
{
    background-color: rgba(255, 255, 255, 0.2);
}
.parallax-window {
    min-height: 400px;
    height: 600px;
    background: transparent;
}
#intro
{
    font-size: 30px;
    color: white;
    background-color: rgb(0, 0, 0);
    padding-top:0px;
    padding-bottom: 0!important;
    height: 80px;
    margin-top: -77px;
}

#intro h1
{
    text-align: center;
    margin-left: -15px;
}

#title
{
    margin-top:5%!important;
}
.slide
{
    height: fit-content;
    color: white;
    background-color: rgba(2, 2, 2, 0.932);
    padding-bottom: 20px;
    text-align: center;
    cursor: context-menu;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.story-year
{
    font-size: 100px;
    /*margin-left: 5%;*/
    opacity: 0;
}

.story-title
{
    /*margin-left: 5%;*/
    opacity: 0;
}

.story-description
{
    margin-top: 30px; 
    padding-bottom:20px; 
    font-size: 16px;
   /* margin-left: 5%; */
    opacity: 0;
}

#gap
{
    height: 1px;
}
#fifthslide
{
    margin-bottom: 50px!important;
}
.page-footer
{
    background-color:rgba(0, 0, 0);
    color: white;
    background-image: linear-gradient(#1a031f, #1a031f);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s, color .5s;
    width: 100%;
    z-index: 1040;
    bottom: 0;
}

.page-footer:hover
{
    background-size: 100% 100%;
}

.page-footer button
{
    display: inline-block;
    margin-left: 4%;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}
.slide-car
{
    color: white;
    text-align: center;
    cursor: context-menu;
}

.story-model
{
    text-transform: uppercase;
    background-image: linear-gradient(to right, #1F1C2C, #928DAB);
    font-size: 150px;
    text-align: center;
    color: white;
    height: 150px;
}
.ParallaxImage 
{
    background-attachment: fixed;
    background-position: center 80%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
    height: 700px;
}
.ParallaxImage h1 
{
    font-weight: 700;
    font-size: 76px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    color:black;
}
.bg1 
{
    background-image: url("../img/3_series.jpg");
}
.bg2 
{
    background-image: url("../img/bmw_e21.jpg");
}
.bg3 
{
    background-image: url("../img/e46_m3.jpg");
    background-position: center;
}
.bg4 
{
    background-image: url("../img/f30.jpg");
    background-position: center;
}
.bg5 
{
    background-image: url("../img/g20.jpg");
    background-position: center;
    filter: saturate(1.5);
}

.ParallaxContent 
{
    background: none repeat scroll 0 0 black;
    color:#FFF;	
    height: 350px;
} 
.ParallaxContent h2
{
  color:#FFF;	
}

.ParallaxVideo
{ 
    height: fit-content;
    background-color: black;
}
.ParallaxVideo video
{ 
    min-width: 100%;
    width: 100vw;
    height: 855px;
    top:0;  
}

@keyframes filter-animation 
{
    0% {
      filter: hue-rotate(0deg);        
    }
    50% {
      filter: hue-rotate(360deg);        
    }
    100% 
    {
      filter: hue-rotate(0deg);
    }
}
.ParallaxImage.bg4.animated
{
    animation: filter-animation 6s infinite;
}

#brick h1
{
    color: white;
    margin-left: 12%;
    font-size: 50px!important;
    text-align: center;
    margin-top: 2%;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.678);
}

#view
{
    transition: 1s;
    border-radius: 10px;
    margin-left: 41%;
    background-color: rgb(173, 23, 55);
    color: white;
    font-size: 16px;
    border-color: transparent;
    height: 70px;
    font-family: "Raleway", sans-serif;
    font-weight: bolder;
    width: 220px;
    cursor: pointer;
}

#view:hover
{
    transition: 1s;
    background-color: slateblue;
}